.DS_Store

tmp/*

# IDE Files
#-------------------------
/nbproject/
.idea/*
/.idea/
## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project



vendor

public/index.php
config_dev.php
config_pro.php